[submodule "ppt/vendor/impress.js"]
	path = ppt/vendor/impress.js
	url = https://github.com/bartaz/impress.js.git
[submodule "ppt/vendor/reveal.js"]
	path = ppt/vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
